/* ==========================================================
   ESTILOS GLOBALES
   PSICOLIFE
   Lumine Studio
========================================================== */

/* ==========================================================
   BOX MODEL
========================================================== */

*,
*::before,
*::after {

    box-sizing: border-box;

}

/* ==========================================================
   HTML
========================================================== */

html {

    scroll-behavior: smooth;

}


/* ==========================================================
   BODY
========================================================== */

body{

    font-family: var(--font-body);

    font-size: var(--fs-sm);

    color: var(--color-text);

    background: var(--color-background);

    line-height: 1.6;

}

/* ==========================================================
   CONTENEDOR
========================================================== */

.container{

    width: min(90%, var(--container-width));

    margin: 0 auto;

}

/* ==========================================================
   IMÁGENES
========================================================== */

img{

    display: block;

    max-width: 100%;

    height: auto;

}

/* ==========================================================
   ENLACES
========================================================== */

a{

    text-decoration: none;

    color: inherit;

}

/* ==========================================================
   LISTAS
========================================================== */

ul{

    list-style: none;

}

/* ==========================================================
   BOTONES PRINCIPALES
========================================================== */

.btn-primary{

    display: inline-block;

    padding: 1rem 2rem;

    background-color: var(--color-primary);

    color: var(--color-white);

    border-radius: var(--radius-md);

    font-weight: 600;

    transition: var(--transition-normal);

}

.btn-primary:hover{

    background-color: var(--color-secondary);

}