/* ==========================================================
   HEADER
========================================================== */

.header {

    position: sticky;

    top: 0;

    width: 100%;

    /*background-color: rgba(255,255,255,.90);*/

    background: linear-gradient(
        90deg,
        rgba(103, 181, 179, 0.88) 0%,
        rgba(110, 186, 184, 0.88) 100%
    );

    box-shadow: 0 4px 16px rgba(0,0,0,.08);

    backdrop-filter: blur(8px);

    z-index: 1000;

    border-bottom: 1px solid rgba(0,0,0,.05);

}

/* ==========================================================
   HEADER CONTAINER
========================================================== */

.header-container {

    display: flex;

    justify-content: space-between;

    align-items: center;

    height: 80px;

}

/* ==========================================================
   LOGO
========================================================== */

.logo{
    display:flex;
    align-items:center;
    gap:.75rem;

    text-decoration:none;
}

.logo img{
    width:44px;
    height:44px;
    object-fit:contain;
    filter: drop-shadow(0 2px 4px rgba(255,255,255,.25));

}

.logo span{
    font-size:1.8rem;
    font-weight:700;

    color:var(--color-text);
}

.logo-accent{
    color:var(--color-primary);
}

/* ==========================================================
   NAVIGATION
========================================================== */

.nav {

    display: flex;

    align-items: center;

}


.nav-list{

    display: flex;

    gap: calc(var(--space-lg) + .5rem);

    list-style:none;

}

.nav-list a{

    color:rgba(255,255,255,.92);

    font-weight:500;

    transition:var(--transition-normal);

}

.nav-list a:hover{

    color:#FFFFFF;

}

/* ==========================================================
   MENU TOGGLE
========================================================== */

.menu-toggle{

    display:none;

    background:none;

    border:none;

    cursor:pointer;

    padding:.5rem;

}

.menu-icon{

    width:28px;

    height:28px;

}